{% extends 'admin/admin_base.html' %}

{% block content %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Add New Meter</h2>
                        <h5>Welcome, {{user.meter_id}}. </h5>

                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
                <form method="post">
                  {% csrf_token %}
                  {% for field in form %}
                    <p>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                      {% endif %}
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                  {% endfor %}
                  <button class="btn-block btn-success" type="submit">Add Meter</button>
                </form>
            </div>
        </div>
{% endblock %}